.app-about-page
  border-top $color-2 1px solid
  height 100%
  display flex
  flex-flow column
  .app-page-content
    flex 1 1 auto
  .win-button
    margin 6px
  .app-logo-container
    text-align center
    .app-logo
      height 150px
      background-color #2196f3
  .app-info
    text-align center
    margin-bottom 24px
  .app-feedback
    text-align center
    margin-top 12px
