.app-editor-page
  height 100%
  width 100%
  display flex
  flex-flow column
  .app-bottom-bar
    height 28px
    width 100%
    background-color $color-2
    padding 0 12px
    line-height 28px
  .app-flex-auto
    flex 0 0 auto
  .ace_editor
    position relative
    flex 1 1 auto
    width 100%
  .ace_layer
    min-width 48px
  .ace_button
    font-size 15px
